*{
    margin: 0;
    padding: 0;
    
}
.fondo {
    width: 1350px;
    height: 1380px;
    background: url("../imagenes/fondoinicio.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 15px
   
    
}

a{
    padding: 15px;
    border: 5px solid rgb(252, 244, 244);
    background-color: rgba(31, 61, 230, 0.623);
    color: #eedada;
    text-decoration: steelblue;
    font-size: 40px;
    border-radius: 25px;
    font-family: "Giorgia";
   margin-top: 160px;
}

a:hover{
    background-color: rgba(20, 72, 214, 0.5);
}