*{
    margin: 0;
    padding: 0;
    
}
.fondo {
    width: 1366px;
    height: 625px;
    background: url("../imagenes/fondoinicio1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 15px
   
    
}

a{
    padding: 15px;
    border: 2px solid rgb(89, 172, 250);
    background-color: rgba(31, 61, 230, 0.623);
    color: #eedada;
    text-decoration: steelblue;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: "Giorgia";
    margin-top: 100px;
}

a:hover{
    background-color: rgba(20, 72, 214, 0.5);
}